h2{
    font-size:100%;
}
h1{
    font-size:100%;
}
h3{
    font-size:100%
}
.current {
    position:absolute;
    left:0%;
    width:50%;
}
.suggested {
    position:absolute;
    left:50%;
    width:50%;
}
section {
    padding: 3px;
    display:flex;
}
.employee{
    margin:10vh;
    border-style:solid;
    border-radius:3vw;
    border-color:black;
}
.employee:hover{
    border-color:blue !important;
    background-color:lightgray;
    cursor:pointer;
}
.employee img {
    max-width: 10%;
    height:min-content;
    padding:1vw;
}
.employee-content {
    text-align-last: center;
    justify-content:center;
}
.employee-content .skills{
    margin-left:5vw;
    margin-right:1vw;
}
.employee-content .Programs{
    margin-left:5vw;
    margin-right:1vw;
}
.employee-content .personality{
    display:inline-flex;
    margin-inline:5vw;
}
.employee-content .personality .personality-tab img{
    max-width: 40px;
    height:min-content;
}

.dropdown {
    position: relative;
}
  
.dropbtn {
  background-color: #a1a5a3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:inline-block;
}

.dropdown-content input:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}