body{
    color: #8c7b88;
    height: 100%;
    background-color: #313131;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.checked{
    background-color:#595d5e !important;
}
.title{
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color:#383838;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
.title h1{
    color:#61525d;
    text-align:center;
    font-size: 5vw;
    font-family:"Verdana";
}
.back{
    width:4%;
    position: absolute;
    right: 5%;
    top: 6vw;    
}
.back *{
    max-width:100%;
    height:min-content;
}
h2{
    font-size:100%;
}
h1{
    font-size:100%;
}
h3{
    font-size:100%
}
.current {
    position:absolute;
    left:0%;
    width:50%;
}
.suggested {
    position:absolute;
    left:50%;
    width:50%;
}
section {
    display:flex;
}
.employee{
    color: #b8ced8;
    background-color:#464646;
    margin:10vh;
    border-style:solid;
    border-radius:3vw;
    border-color: #353535;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.employee:hover{
    border-color:#e9dfe7 !important;
    background-color:#838080;
    cursor:pointer;
}
.employee .name{
    font-size:200%;
}
.employee img {
    background:transparent;
    max-width: 15%;
    height:min-content;
    padding:1vw;
}
.employee-content {
    text-align-last: center;
    justify-content:center;
}
.employee-content .skills{
    margin-left:5vw;
    margin-right:1vw;
}
.employee-content .Programs{
    margin-left:5vw;
    margin-right:1vw;
}
.employee-content .personality{
    display:inline-flex;
    margin-inline:5vw;
}
.employee-content .personality .personality-tab img{
    max-width: 40px;
    height:min-content;
}
.personality-tab{
    margin-left: 8%;
    margin-right: 8%;
}

.dropdown {
    position: relative;
    display:inline-block;
    
}
  
.dropbtn {
    margin-top:3vh;
    background-color: #464646;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #b8ced8;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:100%;
}

.dropdown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:inline;
}
.dropdown-content .radioBtn{
    display:block;
    color:black;
    padding-top:5px;
    padding-bottom:5px;
    border-style: solid;
    border-color:lightgray;
    border-width:0.1px;
}
.dropdown-content input:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: #a1a5a3;
    color:black;
}