#selection {
    padding-left: 2vw;
    padding-right: 2vw;
}
section {
    padding: 3px;
    display:flex;
}
.employee{
    margin:10vh;
    border-style:solid;
    border-color:black;
}
.employee img {
    max-width: 10%;
    height:min-content;
    padding:1vw;
}
.employee-content {
    display:inline-flex;
    text-align: center;
    align-content:center;
}
.employee-content .skills{
    
}
.employee-content .skills h2{
    
}
.employee-content .personality{
    display:inline-flex;
}
.employee-content .name{
    
}

.dropdown {
    position: relative;
}
  
.dropbtn {
  background-color: #a1a5a3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content input:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}